// CSS2D overlay
.css-renderer {
  position: absolute;
  inset: 0;
  z-index: 3;

  pointer-events: none;

  &.markers-on .object {
    pointer-events: auto;
  }

  &.markers-off .object {
    display: none;
    pointer-events: none;
  }

  &.hideMoons .moon {
    display: none;
  }

  &.hidePlanets .planet {
    display: none;
  }
}

.object.hide {
  display: none;
}
